---
layout: default
bodyClass: "page-services"
---

{% if page.banner_image %}
<div class="service-banner-hero">
  <div class="banner-image-container">
    <img alt="{{ page.title }}" class="banner-hero-image" src="{{ page.banner_image | relative_url }}" />
    {% if page.banner_caption %}
    <div class="banner-caption-overlay">{{ page.banner_caption }}</div>
    {% endif %}
  </div>
</div>
{% endif %}

<div class="intro">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ page.header }}</h1>
      </div>
    </div>
    <div class="row justify-content-start">
      <div class="col-12{% unless page.intro_image %} col-md-12{% else %} col-md-8 col-lg-8{% endunless %} order-2 order-md-1">
        {{ content }}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-4 col-lg-4 order-1 order-md-2 position-relative">
        <img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" />
        {% if page.intro_image_caption %}
        <p class="intro-image-caption">{{ page.intro_image_caption }}</p>
        {% endif %}
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="container pt-6 pb-6">
  <div class="row">
    {% assign services_sorted = site.services | sort: 'weight' %}
    {% for service in services_sorted %}
    <div class="col-12 col-md-6 mb-3">
      <div class="service service-summary">
        <div class="service-content">
          <h2 class="service-title">
            <a href="{{ service.url | relative_url }}">{{ service.title }}</a>
          </h2>
          <div>{{ service.description | markdownify }}</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
